@{
    ViewData["Title"] = "História";
}

<div style="gap: 15px;" class="d-flex flex-column pdt-70 pdb-90 align-items-center background-content" style="height: 730px;">
    <div class="container">
        <div class="sobre">
            <h1 style="color: var(--secondary-color);" class="font-passion-one-title-green text-start">SOBRE O CÉU DE GRÃOS</h1>
            <p style="color: var(--black); font-size: var(--font-size-24);" class="font-arial text-start">
                Bem-vindo à nossa fazenda urbana, um projeto que está lado a lado com a segurança alimentar e sustentabilidade . 
                <br>
                Somos uma startup que trabalha para enfrentar a insegurança alimentar, seguindo os princípios ESG e os ODS definidos pelas Nações Unidas.
            </p>
        </div>
        <div class="missao">
            <h1 style="color: var(--secondary-color);" class="font-passion-one-title-green text-start">MISSÃO</h1>
            <p style="color: var(--black); font-size: var(--font-size-24);" class="font-arial text-start">
                Nossa missão é garantir e promover a segurança alimentar e nutricional e, ao mesmo tempo, alcançar a sustentabilidade em todos os aspectos de nossas operações. Cultivamos ervilha, feijão , grão-de-bico e lentilha, cujo são alimentos essenciais que desempenham um papel vital a favor da segurança alimentar, fornecendo proteínas, fibras e nutrientes essenciais para uma alimentação saudável.
            </p>
        </div>
        <div class="visão">
            <h1 style="color: var(--secondary-color);" class="font-passion-one-title-green text-start">VISÃO</h1>
            <p style="color: var(--black); font-size: var(--font-size-24);" class="font-arial text-start">
                Nós imaginamos um futuro onde independentemente de sua localização, a segurança alimentar seja uma realidade para todos, as comunidades sejam fortalecidas e o ambiente seja regenerado.
            </p>
        </div>
    </div>
</div>