@{
    ViewData["Title"] = "Cookies de Privacidade";
}

<div style="gap: 15px;" class="d-flex flex-column pdt-70 pdb-90 align-items-center background-content" style="height: 730px;">
    <div class="container">
        <h1 style="color: var(--secondary-color); font-size: 48px; font-weight: 700;" class="font-passion-one text-center">POLÍTICA DE PRIVACIDADE</h1>
        <p style="color: var(--black); font-size: var(--font-size-24);" class="font-arial text-start mt-4">
            Esta política de privacidade está em conformidade com a LGPD (Lei Geral de Proteção de Dados), legislação brasileira que regula o tratamento de dados pessoais, garantindo transparência, segurança e controle sobre as informações dos usuários.
        </p>

        <p style="color: var(--black); font-weight: bold; font-size: var(--font-size-24); margin: 25px 0;" class="font-arial text-start">Informações Coletadas:</p>
        <p style="color: var(--black); font-size: var(--font-size-24);" class="font-arial text-start">
            Não coletamos informações pessoais identificáveis sobre você quando você visita nosso site, a menos que você nos forneça voluntariamente, por exemplo, por meio de formulários de contato ou e-mails.
        </p>

        <p style="color: var(--black); font-weight: bold; font-size: var(--font-size-24); margin: 25px 0;" class="font-arial text-start">Uso das Informações:</p>
        <p style="color: var(--black); font-size: var(--font-size-24);" class="font-arial text-start">
            Usamos as informações que você nos fornece apenas para responder às suas perguntas e fornecer informações sobre nossa fazenda urbana.
        </p>

        <p style="color: var(--black); font-weight: bold; font-size: var(--font-size-24); margin: 25px 0;" class="font-arial text-start">Compartilhamento de Informações:</p>
        <p style="color: var(--black); font-size: var(--font-size-24);" class="font-arial text-start">
            Não compartilhamos suas informações pessoais com terceiros, exceto quando necessário para responder às suas perguntas ou fornecer informações sobre nossa fazenda urbana.
        </p>

        <p style="color: var(--black); font-weight: bold; font-size: var(--font-size-24); margin: 25px 0;" class="font-arial text-start">Segurança das Informações</p>
        <p style="color: var(--black); font-size: var(--font-size-24);" class="font-arial text-start">
            Implementamos medidas de segurança para proteger suas informações contra acesso não autorizado ou divulgação.
        </p>

        <p style="color: var(--black); font-weight: bold; font-size: var(--font-size-24); margin: 25px 0;" class="font-arial text-start">Alterações nesta Política:</p>
        <p style="color: var(--black); font-size: var(--font-size-24);" class="font-arial text-start">
            Reservamo-nos o direito de atualizar esta política periodicamente. Recomendamos que você revise esta página regularmente para estar ciente de quaisquer mudanças.
        </p>
    </div>
</div>