@{
    ViewData["Title"] = "Cookies de Privacidade";
}

<div style="gap: 15px;" class="d-flex flex-column pdt-70 pdb-90 align-items-center background-content" style="height: 730px;">
    <div class="container">
        <h1 style="color: var(--secondary-color); font-size: 48px; font-weight: 700;" class="font-passion-one text-center">POLÍTICA DE COOKIES</h1>
        <p style="color: var(--black); font-size: var(--font-size-24); font-weight: 400; text-align: justify;" class="font-arial mt-4">
            Nosso site usa cookies para melhorar sua experiência de navegação. Cookies são pequenos arquivos de texto que são armazenados no seu computador ou dispositivo quando você visita um site. Você pode, a qualquer momento, revisar as configurações de cookies que escolheu clicando no cookie do canto inferior esquerdo da tela.
        </p>
        <p style="color: var(--black); font-size: var(--font-size-24); font-weight: 400; text-align: justify;" class="font-arial mt-4">
            Utilizamos os seguintes tipos de cookies:
        </p>
        <ul style="color: var(--black); font-size: 24px;" class="font-arial">
            <li style="height: auto; color: var(--black); font-size: 24px; font-weight: 400; text-align: justify;" class="font-arial mt-4">
                <strong>Cookies Estritamente Necessários: </strong>Esses cookies são essenciais para o funcionamento do site e não podem ser desativados em nossos sistemas. Eles geralmente são definidos apenas em resposta a ações feitas por você, como solicitação de serviços, como preencher formulários.
            </li>
            <li style="height: auto; color: var(--black); font-size: 24px; font-weight: 400; text-align: justify;" class="font-arial mt-4">
                <strong>Cookies de Desempenho: </strong>Esses cookies nos permitem contar visitas e fontes de tráfego, para que possamos medir e melhorar o desempenho do nosso site.
            </li>
            <li style="height: auto; color: var(--black); font-size: 24px; font-weight: 400; text-align: justify;" class="font-arial mt-4">
                <strong>Cookies de Funcionalidade: </strong>Esses cookies permitem que o site forneça funcionalidade e personalização aprimoradas. Eles podem ser definidos por nós ou por provedores de terceiros cujos serviços adicionamos às nossas páginas.
            </li>
            <li style="height: auto; color: var(--black); font-size: 24px; font-weight: 400; text-align: justify;" class="font-arial mt-4">
                <strong>Cookies de Publicidade: </strong>Esses cookies podem ser usados por empresas de publicidade para construir um perfil de seus interesses e mostrar anúncios relevantes em outros sites.
            </li>
        </ul>
        <p style="color: var(--black); font-size: var(--font-size-24); font-weight:400; text-align: justify;" class="font-arial mt-4">
            Ao continuar a usar nosso site, você concorda com o uso de cookies de acordo com nossa política de cookies.
        </p>
    </div>
</div>