@{
    ViewData["Title"] = "Produtos";
}

<div style="gap: 15px;" class="d-flex flex-column pdt-40 pdb-40 align-items-center background-content" style="height: 730px;">
    <div class="container">
        <h1 style="color: var(--secondary-color); font-size: 48px;" class="font-passion-one-title-green text-center">NOSSOS GRÃOS</h1>
        <div class="d-flex flex-row justify-content-between mt-5">
            <div class="ervilha d-flex flex-row gap-4 ml-10 mr-10">
                <div class="d-flex flex-column justify-content-between">
                    <h1 style="color: var(--secondary-color); font-size: 32px; font-weight: 400;" class="font-passion-one text-start">ERVILHA</h1>
                    <img src="~/images/ervilha.svg" class="products">
                </div>
                <div>
                    <h1 style="color: var(--black); font-size: 24px; font-weight: 700;" class="font-arial text-start">Descrição</h1>
                    <p style="color: var(--black); font-size: 16px; line-height: 20px; font-weight: 400;" class="font-arial text-start description-product">
                        É uma leguminosa que apresenta benefícios para a saúde como prevenir a prisão de ventre, regular o açúcar no sangue, favorecer a perda de peso e melhorar a saúde dos olhos.
                        Isso ocorre devido ás proteínas vegetais, fibras, vitaminas do complexo B e A e os minerais.
                    </p>
                </div>
            </div>
            <div class="feijão d-flex flex-row gap-4 ml-10 mr-10">
                <div>
                    <h1 style="color: var(--secondary-color); font-size: 32px; font-weight: 400;" class="font-passion-one text-start">FEIJÃO</h1>
                    <img src="~/images/feijao.svg" class="products">
                </div>
                <div>
                    <h1 style="color: var(--black); font-size: 24px; font-weight: 700;" class="font-arial text-start">Descrição</h1>
                    <p style="color: var(--black); font-size: 16px; line-height: 20px; font-weight: 400;" class="font-arial text-start description-product">
                       É uma leguminosa que fornece proteínas, fibras, carboidratos complexos, vitaminas e micronutrientes, contribuindo consideravelmente para uma dieta mais rica e saudável, reduzindo a vulnerabilidade de muitas pessoas quando se fala em fome e desnutrição.
                    </p>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-between">
            <div class="grao-de-bico d-flex flex-row gap-4 ml-10 mr-10">
                <div>
                    <h1 style="color: var(--secondary-color); font-size: 32px; font-weight: 400;" class="font-passion-one text-start">GRÃO-DE-BICO</h1>
                    <img src="~/images/grao-de-bico.svg" class="products">
                </div>
                <div>
                    <h1 style="color: var(--black); font-size: 24px; font-weight: 700;" class="font-arial text-start">Descrição</h1>
                    <p style="color: var(--black); font-size: 16px; line-height: 20px; font-weight: 400;" class="font-arial text-start description-product">
                        É uma leguminosa altamente nutritiva e versátil, sendo uma boa opção para promover o ganho de massa muscular. E além disso, ajuda a controlar os níveis de açúcar no sangue, a prevenir doenças cardíacas, dá uma força para a digestão e até mesmo aumenta a saciedade.
                    </p>
                </div>
            </div>
            <div class="lentilha d-flex flex-row gap-4 ml-10 mr-10">
                <div>
                    <h1 style="color: var(--secondary-color); font-size: 32px; font-weight: 400;" class="font-passion-one text-start">LENTILHA</h1>
                    <img src="~/images/lentilha.svg" class="products">
                </div>
                <div>
                    <h1 style="color: var(--black); font-size: 24px; font-weight: 700;" class="font-arial text-start">Descrição</h1>
                    <p style="color: var(--black); font-size: 16px; line-height: 20px; font-weight: 400;" class="font-arial text-start description-product">
                        E uma leguminosa que ajuda a regular as células de defesa do organismo, fortalecendo o sistema imunológico e contribuindo na prevenção de doenças causadas por vírus, bactérias ou fungos. Isso ocorre devido às proteínas, os antioxidantes, as vitaminas do complexo B e o zinco.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>