@{
    ViewData["Title"] = "Termos de Uso";
}

<div style="gap: 15px;" class="d-flex flex-column pdt-70 pdb-90 align-items-center background-content" style="height: 730px;">
    <div class="container">
        <h1 style="color: var(--secondary-color); font-size: 48px; font-weight: 700;" class="font-passion-one text-center">TERMOS DE USO</h1>
        <p style="color: var(--black); font-size: var(--font-size-24); font-weight: 400; text-align: justify;" class="font-arial mt-4">
        Os termos de uso são um conjunto de regras e condições que regem o uso do nosso site. Ao usar nosso site, você concorda com os seguintes termos:
        </p>
        <ul style="color: var(--black); font-size: 24px;" class="font-arial">
            <li style="height: auto; color: var(--black); font-size: 24px; font-weight: 400; text-align: justify;" class="font-arial mt-4">Você concorda em usar nosso site apenas para fins informativos sobre nossa fazenda urbana.</li>
            <li style="height: auto; color: var(--black); font-size: 24px; font-weight: 400; text-align: justify;" class="font-arial mt-4">Você concorda em não copiar, modificar ou distribuir o conteúdo do nosso site sem permissão.</li>
            <li style="height: auto; color: var(--black); font-size: 24px; font-weight: 400; text-align: justify;" class="font-arial mt-4">Você concorda em não usar nosso site de maneira que possa prejudicar, desabilitar, sobrecarregar ou deteriorar o site.</li>
            <li style="height: auto; color: var(--black); font-size: 24px; font-weight: 400; text-align: justify;" class="font-arial mt-4">Você concorda em não tentar obter acesso não autorizado a qualquer parte do site ou a quaisquer sistemas ou redes conectados ao site.</li>
            <li style="height: auto; color: var(--black); font-size: 24px; font-weight: 400; text-align: justify;" class="font-arial mt-4">Você concorda em não usar nosso site para qualquer fim ilegal ou não autorizado</li>
            <li style="height: auto; color: var(--black); font-size: 24px; font-weight: 400; text-align: justify;" class="font-arial mt-4">Nosso site pode conter links para sites de terceiros que não são operados por nós. Não temos controle e não assumimos responsabilidade pelo conteúdo, políticas de privacidade ou práticas de sites de terceiros. Recomendamos que você revise os termos de uso e políticas de privacidade de qualquer site de terceiros que você visitar.</li>
        </ul>
        <p style="color: var(--black); font-size: var(--font-size-24); font-weight:400; text-align: justify;" class="font-arial mt-4">
            Reservamo-nos o direito de atualizar esta política periodicamente. Recomendamos que você revise esta página regularmente para estar ciente de quaisquer mudanças.
        </p>
    </div>
</div>